
/* Modal Content */
.modal-content {
    background-color: #1a2035;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(51, 51, 51);
    width: 80%;
    margin-top: 0;
  }
  
  /* The Close Button */
  .close {
    color: #b4abab;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-content{
    flex-direction: column;
  }
  .mapdiv{
    width: 70%;
  }
  .mapinfo{
    width: 30%;
  }
  .mapdiv :hover{
    fill: #1a2035;
    cursor: pointer;
  }

  .mapdiv path{
    stroke: #fff;
  }
