* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #f9fafb;
}
.container {
    width: 50%;
    max-width: 700px;
    padding: 1rem;
    box-shadow: 4px 2px 4px 0 #929090bf,
                -1px 0 1px 0 #929090bf;
}

h1 {
    padding: 1rem 0;
    text-align: center;
}
h2 {
    padding: 1rem 0;
    text-align: center;
}
URLBuscar {
    padding: 1rem 0;
    text-align: center;
}

.container > textarea {
    width: 100%;
    resize: none;
    padding: 10px;
}

.container > button {
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
    margin: auto;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
    background-color: #3b70d4e7;
    color: #fff;
    border-radius: 2rem;
    outline: none;
    border: none;
    transition: all .3s ease-in-out;
}
#BUS{
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
    margin: auto;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
    background-color: #3b70d4e7;
    color: #fff;
    border-radius: 2rem;
    outline: none;
    border: none;
    transition: all .3s ease-in-out;
}
.container > button:hover {
    background-color: #4b83e9e7;
}

.container i {
    font-size: 1.5rem;
    margin-right: 5px;
    color: #fff;
}

@media (max-width:450px) {
    .container {
        width: 90%;
    }
}